@import '@/styles/main';

.dropdown {

  &__label {
    @include font-label-s;

    color: $label-color;
    text-align: left;
  }

  &__label-text {
    line-height: rem(24);
    margin: 0;
    margin-bottom: rem(4);
    margin-top: rem(8);

    @include screen-xl-1280 {
      margin-top: 0;
    }
  }

  &__field-container {
    @include screen-lg-1085 {
      width: rem(506);
    }

    @include screen-xxl-1380 {
      width: rem(400);
    }
  }

  &__toggle-button {
    background-color: $white;
    border: 1px solid $grey-300;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: rem(8);
    justify-content: space-between;
    padding: rem(7) rem(11);
    width: 100%;

    &:focus {
      border: $focus-border;
      padding: rem(6) rem(10);
    }
  }

  &__toggle-button-text {
    @include font-body-m;

    color: $grey-500;
    margin: 0;
    text-align: left;
  }

  &__icon-container {
    height: rem(24);
    width: rem(24);

    &--list-open {
      transform: rotate(180deg);
    }
  }
}
