@import '@/styles/main';

.current-week {
  background-color: $white;
  border-radius: rem(8);
  box-shadow: $sm-box-shadow;
  color: $primary-200;
  display: flex;
  flex-direction: column;
  gap: $vertical-gap;
  max-width: fit-content;
  padding: rem(16) rem(16) rem(8);

  &__title {
    @include font-headline-s($margin-bottom: 0);

    text-align: left;
  }

  &__content-wrapper {
    display: grid;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $vertical-gap;
    overflow: auto hidden;
    padding-bottom: rem(8);
  }

  &__days {
    border-bottom: $border-empty-line-div;
    display: flex;
    gap: $day-gap;
    width: fit-content;
  }

  &__day-name {
    @include font-label-s($margin-bottom: 0);

    align-items: center;
    display: flex;
    gap: rem(4);
    min-width: $day-width;
    padding: rem(16);
    text-align: left;

    svg {
      background-color: $green-500;
      border-radius: 50%;
      height: rem(15);
      padding: rem(1);
      stroke: $white;
      width: rem(15);
    }
  }

  &__free {
    @include font-label-xs($margin-bottom: 0);

    background-color: $purple-400;
    border-radius: rem(4);
    color: $white;
    margin-left: rem(5);
    padding: 0 rem(4);
    text-shadow:
      0 1px 0 $white,
      1px 0 0 $white,
      1px 1px 0 $white;
  }

  &__cards {
    display: flex;
    gap: $day-gap;
    height: rem(212);
  }
}
