@import '@/styles/main';

.window-container {
  @include window-container;
}

.rules-card {
  background-color: $white;
  border-radius: rem(8);
  display: flex;
  flex-direction: column;
  gap: rem(24);
  max-width: 90vw;
  padding: rem(16);
  position: absolute;
  width: rem(674);

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__header-text {
    @include font-headline-s($margin-bottom: 5);
  }

  &__rules-text {
    @include font-body-l($margin-bottom: 0);

    text-align: left;
  }

  &__button-container {
    align-self: flex-end;
  }
}
