@import '@/styles/main';

.meal-details {

  &__meal-container {
    display: flex;
    gap: rem(8);
  }

  &__meal-info-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: rem(4);
    justify-content: center;
  }

  &__vendor-name {
    @include font-title-s($margin-bottom: 0);

    color: $grey-500;
  }

  &__meal-name {
    @include font-title-s($margin-bottom: 0);

    color: $label-color;
    text-align: left;
  }

  &__dish-icon {
    width: rem(70);
  }

  &__dish-icon-image {
    height: rem(70);
  }
}
