$primary-800: #0d1f2e;
$primary-600: #123149;
$primary-400: #1a4264;
$primary-200: #143149;
$primary-100: #272930;
$secondary-600: #e26a00;
$secondary-400: #ff7f0f;
$secondary-300: #ffa631;
$secondary-200: #ffe9d6;
$secondary-100: #fef5ed;
$grey-600: #646872;
$grey-500: #636363;
$grey-400: #8d8d8d;
$grey-300: #c8c8c8;
$grey-200: #dddee0;
$grey-100: #f7f7f7;
$green-600: #2abd5c;
$green-500: #00b368;
$green-400: #3be191;
$red-500: #de1a49;
$red-300: #ffd4d7;
$purple-500: #746ae9;
$purple-400: #9a91ff;
$purple-300: #b7b7fd;
$purple-200: #eaeefc;
$yellow-500: #eebb39;
$yellow-400: #fcda83;
$yellow-300: #ffe7a8;
$yellow-200: #ffefd0;
$modal-primary-500: rgba(#0d1f2e, 0.15);
$gradient-orange: linear-gradient(315deg, #ffcb86 0%, #fff5e8 100%);
$white: #fff;
$black: #000;
$error-color: #ffc7c5;
$textfield-border-disabled: #eeeff0;
$textfield-text-disabled: #bdbfc4;
$label-color: #143149;
$dropdown-item-hover-color: #2196f30a;
$tab-color-active: #143149;
$tab-color-default: #5a5c5e;
$splash-color: #ffd0a7;
$table-border-color: 1px solid $grey-200;
