$base-font-family: sans-serif;
$base-font-size: 10px;

$font-color-primary: #143149;
$font-color-secondary: #636363;
$font-color-orange: #e26a00;
$font-color-purple: #746ae9;
$font-color-white: #fff;

$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
