@import '../../styles/mixins/typography';
@import '../../styles/variables/colors';
@import '@/styles/main';

.profile-card {
  background-color: $white;
  border: 0.5px solid $grey-100;
  border-radius: 8px 0 0 8px;
  box-shadow: $sm-box-shadow;
  width: $side-card-width;

  &__inner-card {
    padding: rem(16) rem(16) 0;
  }

  &__user-info {
    align-items: center;
    display: flex;
    gap: rem(12);
  }

  &__avatar-container {
    height: rem(32);
    position: relative;
  }

  &__avatar-img {
    border-radius: 50%;
  }

  &__dropdown-img {
    background-color: $white;
    border-radius: 50%;
    height: rem(20);
    left: 20px;
    position: absolute;
    top: 20px;
    width: rem(20);
  }

  &__title {
    @include font-title-s;

    color: $font-color-primary;
    margin-bottom: 0;
  }

  &__balance-row {
    @include font-title-m;

    align-items: center;
    color: $font-color-primary;
    display: flex;
    justify-content: space-between;
    margin-top: rem(16);
  }

  &__price-sum {
    border-right: 1px solid $grey-100;
    display: flex;
    gap: rem(32);
    padding-right: rem(20);
  }

  &__cart-container {
    position: relative;
  }

  &__items-number {
    @include font-label-xs;

    align-items: center;
    background-color: $red-500;
    border: 1px solid $white;
    border-radius: 50%;
    box-sizing: border-box;
    color: $white;
    display: flex;
    height: rem(19);
    justify-content: center;
    left: 20px;
    position: absolute;
    top: 20px;
    width: rem(19);

    &--long-number {
      font-size: rem(10);
    }
  }
}

button {
  background-color: transparent;
  border: none;
}
